stanza==1.2
stanza.install_corenlp()

spacy==2.3.2
neuralcoref==4.0
en_core_web_md-2.3.*

urllib3==1.25.11

bert-tensorflow==1.0.1
tensorflow==1.15.0
tensorflow_hub==0.11.0
scikit-learn==0.24.1
pandas==1.1.5